.MuiDataGrid-cell[data-field="first-name"]{
    background-color: #000;
}

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 300ms linear;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}
th.MuiTableCell-root{
    font-weight: bold;
    color: #FFFFFF;
}
th.MuiTableCell-root, td.MuiTableCell-root{
    height: 60px;
    padding: 0 0 0 10px;
}
.MuiPagination-ul{
    justify-content: center;
}
.MuiTableHead-root{
    background-color: #000;
}
th.MuiTableCell-root:last-of-type{
    text-align: right;
    padding-right: 10px;
}
.cancelButtonsContainer{
    display: flex;
    justify-content: space-between;
}
@media (max-width: 500px) {
    .ReactModalPortal{
        position: absolute;
        z-index: 50000;
    }
    .ReactModal__Content{
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
    }
    .cancelButtonsContainer{
        flex-flow: column;
        gap: 20px;
    }
}

